apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: fcg-api-aws-secrets
spec:
  provider: aws
  parameters:
    region: ${AWS_REGION}
    objects: |
      - objectName: staging/fcg-api-secrets-v1
        objectType: secretsmanager
        jmesPath:
          - path: jwtKey
            objectAlias: JwtSettings__Key

  secretObjects:
    - secretName: fcg-users-secrets
      type: Opaque
      data:
        - objectName: JwtSettings__Key
          key: JwtSettings__Key